#experience {
  padding-top: 2rem;
  background-color: rgb(48, 37, 65);
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1% 1fr;
  gap: 2rem;
}
.experience__divider {
  width: 1rem;
  height: 100%;
  background-color: var(--color-primary);
}
.experience__container > .experience__left > h3,
.experience__container > .experience__right > h3 {
  padding-top: 2.4rem;
}

.experience__container > .experience__left:hover,
.experience__container > .experience__right:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > .experience__right h3 {
  text-align: left;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__container > .experience__left h3 {
  text-align: right;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  row-gap: 2rem;
}
.experience__left > .experience__content {
  justify-content: flex-end;
}
.experience__left > .experience__content > .experience__details {
  justify-content: flex-end;
}

.experience__left > .experience__content > .experience__details > div {
  text-align: right;
}

.experience__details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ======================*/
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ======================*/
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
